body {
  overflow: scroll;
  height: 1200px;
  overflow-x: hidden;
  background-color: #7ab4f8;
}
.navbar ul li {
  cursor: pointer;
}
.navbar {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  /* background-color: #7ab4f8; */
}
.navbar-brand {
  margin-right: 5%;
}
header {
  background-image: url(../assets/banner3.jpg);
  height: 130vh;
  width: 100%;
  background-size: cover;
}
.header-container {
  display: block;
  position: absolute;
  top: 30%;
  left: 30%;
  line-height: 3.5rem;
}

@media only screen and (max-width: 600px) {
  .navbar {
    background-color: rgb(91, 134, 184);
    opacity: 0.9;
  }
  .navbar ul li a {
    color: white;
  }
  .header-container .headerTxt {
    font-size: 3rem;
  }
  header {
    background-image: none;
    width: 100%;
    height: 30vh;
    background-size: cover;
    z-index: -1;
  }
  body {
    height: 60vh;
    overflow: hidden;
  }
  .header-container {
    display: block;
    position: absolute;
    top: 30%;
    left: 10%;
    line-height: 3.5rem;
  }
}
